*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
    height: 80px;
    width: 100%;
    background-color: #7AB730;
    padding: 20px;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    color: white;
    float: left;
    font-weight: bold;
    text-shadow: 0 0 5px  black;
    font-size: 35px;
    background-color: rgb(30, 30, 30);
    border: 1.5px solid #7AB730;
    border-radius: 10px;
}

.barra{
    float: right;
}

.barra ul li{
    list-style: none;
    display: inline-block;
}
.barra a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.barra a:hover{
    color: rgb(46, 45, 45);
}
main{
    height: 100vh;
    width: 100%;
    background-image: url(../img/pexels-asad-photo-maldives-457882.jpg);
    background-size: cover;
}
.call{
    background-color:  #7AB730;
    color: white;
    width: 60%;
    border: 1.5px solid rgb(30, 30, 30);
    float: right;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
}

h1{
    margin-bottom: 20px;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    
}
h2{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}
.call a{
    background-color: rgb(30, 30, 30);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px 2px 10px black;
    color: white;
    background-color: #7AB730;
}
.container{
    max-width: 1400px;
    margin: auto;
}
#reservas {
    text-align: center;
    padding: 20px;
}
.color-acento{
    color: #7AB730;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],input[type="email"] {
    width: 30%;
    padding: 10px;
    font-size: 16px;
    border: 2px 2px 10px rgb(30, 30, 30);
    border-radius: 5px;
}

#nuestro-top{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}
#nuestro-top .container{
    padding: 10px 0px;
}
#nuestro-top h2{
    margin-top: 0;
}
#nuestro-top p{
    display: none;
}
#nuestro-top .carta{
    background-position: center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(0deg,rgba(172, 172, 172, 0.5),rgba(172, 172, 172, 0.5)), url(../img/losroques.jpg);
    
}
.carta:nth-child(2){
    background-image: linear-gradient(0deg,rgba(80, 80, 80, 0.5),rgba(80, 80, 80, 0.5)), url(../img/canaima.JPG);

}
.carta:nth-child(3){
    background-image: linear-gradient(0deg,rgba(80, 80, 80, 0.5),rgba(80, 80, 80, 0.5)), url(../img/morrocoy.jpg);

}
footer{
    background-color: #7AB730;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
}
footer p{
    margin-bottom: 20px;
}

.redes a{
    color: rgb(30,30,30);
    text-decoration: none;
    font-size: 50px;
}

.subir{
    height: 40px;
    width: 40px;
    background-color: #7AB730;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    color: white;
    line-height: 40px;
    font-size: 30px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px white;
    border: 1px solid rgb(30,30,30);
}
#contacto {
    text-align: center;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px 2px 10px rgb(30, 30, 30);
    border-radius: 5px;
}

textarea {
    resize: vertical; 
}
img{
    max-width: 100%;
    height: auto;
}
#titulo-servicios{
    text-align: center;
}
article{
    background-color: rgb(30, 30, 30);
}
.loga{
    width: 300px;
    height: 300px;
}
.cards{
    border: 2px solid #7AB730;
    color: white;
    width: fit-content;
    padding: 0px 1em 1em 1em;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

}
#cards-container{
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 2px solid rgb(30, 30, 30);
    border-radius: 15px;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.logoi{
    display: block;
    margin: 0 auto;
    
}
